.container {
    background-color:rgb(212, 212, 223);
    padding:20px;
    height:100vh;
    overflow:auto;
}

.images {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}


.sub-container {
    padding-left:10%;
}